body {
  background: #eeeeee; 
  padding-top: 0%;
 margin-top: 0%; 
overflow-x: hidden;
}
header {
 background:#424242;
 color: #fafafa;
 font-size: 18px; 
 /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
 /* padding-left: 2%; */
 position: absolute; 
 top: 0%;
 left: 0%;
 width:100%;
}
.title {
 margin: 2%;
}
span {
 color: #fafafa;
}
.search {
  /* /* width: 10%; */
  float: right;
  z-index: 2;
}
.menu {
 background: #bdbdbd;
 /* top: 100%; */
 position: relative;
 /* display: block;
 height: 1em; */
 /* width: 105%;
 float: left;
 left: 0%; */
 margin: 0;
 /* text-align: right; */
 /* padding-top: 0.5%;
 padding-bottom: 1%;*/
 padding: 0.5%; 
}
.menubar {
 display: none;
 /* float:right; */
 width: 60%;
 position: relative;
}
nav a {
 padding-right:2% ;
 text-decoration: none;
}
.fullbody{
  top: 18%;
  position: absolute;
  width: 100%;
  padding-left: 2%;
}

.heading {
  color: #212121;
}
span {
  font-size: medium;
  color: #424242;

}
footer {
  background:#424242;
  color: #fafafa;
  position: absolute;
  bottom: -18%;
  width: 120%;
  text-align: center;
  padding: 1%;
  margin-left: -10%;
  box-shadow: 5px 5px 5px 5px #bdbdbd;
}